@font-face {
  font-family: markPro;
  src: url(/assets/fonts/Mark\ Pro.ttf);
}
h1,
h2,
h3,
h4,
p {
  font-family: markPro;
}

.container {
  height: 100vh;
  display: flex;
}
.container .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  background: linear-gradient(to bottom, #33383d, #1c1d20);
}
.container .left .content {
  width: 25rem;
  height: 35rem;
  align-items: flex-start;
}
.container .left .content .text-div {
  height: 40%;
}
.container .left .content .text-div h1,
.container .left .content .text-div p {
  margin-top: 1rem;
  color: white;
}
.container .left .content .text-div h1 {
  font-size: 3.75rem;
  line-height: 4.5rem;
}
.container .left .content .text-div p {
  width: 20rem;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
}
.container .left .content .form-div {
  display: flex;
  flex-flow: column;
}
.container .left .content .form-div h2 {
  color: white;
  font-size: 1.9rem;
  font-weight: 400;
}
.container .left .content .form-div .login-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.container .left .content .form-div .login-form .input {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  padding-top: 1.3rem;
  padding-left: 1.3rem;
  padding-bottom: 1.3rem;
  border-radius: 3rem;
  background: none;
  border-width: 0.063rem;
  border-color: white;
  text-align: justify;
}
.container .left .content .form-div .login-form .input::-moz-placeholder {
  padding-left: 1rem;
  color: white;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
  opacity: 0.7;
}
.container .left .content .form-div .login-form .input:-ms-input-placeholder {
  padding-left: 1rem;
  color: white;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
  opacity: 0.7;
}
.container .left .content .form-div .login-form .input::placeholder {
  padding-left: 1rem;
  color: white;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
  opacity: 0.7;
}
.container .left .content .form-div .login-form .input:focus {
  color: white;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
}
.container .left .content .form-div .login-form .input:first-child {
  margin-top: 2rem;
}
.container .left .content .form-div .login-form .btn {
  margin-top: 3rem;
  width: 100%;
  padding: 1.5rem;
  color: white;
  font-size: 1rem;
  font-style: bold;
  line-height: 1.4rem;
  background: linear-gradient(to bottom, #ff2d04, #c13216);
  border: none;
  border-radius: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .left .content .form-div .login-form .btn:hover {
  cursor: pointer;
  color: #c13216;
  background: white;
  transition: 400ms;
}
.container .left .content .form-div .login-form .span {
  width: 17.688rem;
  color: #e9b425;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
}
.container .left .icons {
  margin-top: 8rem;
  margin-left: 1.4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.container .left .icons .icon {
  margin-top: 4rem;
  width: 1.25rem;
  height: 1.563rem;
}
.container .right {
  width: 50vw;
}
.container .right .banner {
  max-width: 50vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.container .right .banner .figure {
  position: absolute;
}
.container .right .banner .figure .img2 {
  width: 49.5vw;
  height: 100vh;
}

.icon-animation1 {
  position: absolute;
  top: 350px;
  left: 535px;
}

.icon-animation2 {
  position: absolute;
  top: 450px;
  left: 535px;
}/*# sourceMappingURL=loginStyle.css.map */